{%  extends 'parciais/bootstrap.html' %}
{% block conteudo %}
<body>

     <div class="container">
        <div class="jumbotron">
            <h1 class="display-4"><p class="text-center"> Exportar medições </p></h1>
            <p class="lead"><p class="text-center"> O arquivo (do tipo .xlsx), contendo os dados de todas as estações da bacia do Rio Piaui, está sendo automaticamente baixado no seu computador, no mesmo diretório deste projeto.</p></p>
            <p class="lead"><p class="text-center"> Abaixo segue a tabela relacionando o número da estação com a respectiva localização.</p></p>
        </div>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Estação</th>
                      <th scope="col">Localização</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>1036050</td>
                      <td>Piaçabuçu</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>1036008</td>
                      <td>Piaçabuçu</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>1036007</td>
                      <td>Piaçabuçu</td>
                    </tr>
                    <tr>
                      <th scope="row">4</th>
                      <td>1036064</td>
                      <td>Piaçabuçu</td>
                    </tr>
                    <tr>
                      <th scope="row">5</th>
                      <td>1036005</td>
                      <td>Penedo</td>
                    </tr>
                    <tr>
                      <th scope="row">6</th>
                      <td>1036009</td>
                      <td>Porto Real do Colégio</td>
                    </tr>
                    <tr>
                      <th scope="row">7</th>
                      <td>936066</td>
                      <td>Arapiraca</td>
                    </tr>
                    <tr>
                      <th scope="row">8</th>
                      <td>936065</td>
                      <td>Arapiraca</td>
                    </tr>
                    <tr>
                      <th scope="row">9</th>
                      <td>936022</td>
                      <td>Lagoa da Canoa</td>
                    </tr>
                    <tr>
                      <th scope="row">10</th>
                      <td>936020</td>
                      <td>Junqueiro</td>
                    </tr>
                    <tr>
                      <th scope="row">11</th>
                      <td>1036003</td>
                      <td>Igreja Nova</td>
                    </tr>

                  </tbody>
                </table>

        </div>

        </div>
    </div>
</body>

</html>


{% endblock %}