{%  extends 'parciais/bootstrap.html' %}
{% block conteudo %}
<body>

     <div class="container">
        <div class="jumbotron">
            <h1 class="display-4"><p class="text-center">Gráfico de chuvas registradas, nas estações localizadas no município de Piaçabuçu.</p></h1>
            <p class="lead"><p class="text-center"> O gráfico interativo para verificar os dados em relação ao tempo, foi gerado e encontra-se em outra aba do seu servidor em um arquivo .html</p></p>

        </div>
    </div>

</body>

</html>


{% endblock %}