{% load static %}

<!DOCTYPE html>
<html lang="en">

{% include 'parciais/bootstrap.html'%}
<body>
     <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Projeto Chuva <i class="fas fa-cloud-rain"></i></h1>
            <p class="lead"> Esse serviço web foi pensado exclusivamente na análise de dados de precipitação
                da bacia do Rio Piaui, localizada no sul de Alagoas.</p>
            <hr class="my-4">
            <p>Projeto desenvolvido para o Programa Institucional de Bolsas de Iniciação Científica (PIBIC)
                pela bolsista Verena Meirelles, com orientação do Prof. Dr. Chistopher Freire.</p>

        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"> Precipitação anual</h5>
                        <p class="card-text">Visualize a precipitação anual da Bacia do Piaui em AL, imagem gerada pelo software QGIS.</p>
                        <a href='{% url 'anual' %}' class="btn btn-primary">Clique aqui!</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"> Estatística </h5>
                        <p class="card-text">Pensando na caracterização, foi gerada uma média dos dados da bacia em estudo.</p>
                        <a href='{% url 'media' %}' class="btn btn-primary">Clique aqui!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>